<div class="col-12  pt-4">

  <nav class="navbar navbar-light  shadow p-3 mb-5  bg-white rounded ">
  
      <h4 style="color:black;">Mode of Interview</h4>
    
    <form class="form-inline">
      <button class=" btn my-2 my-sm-0" mat-fab color="primary" (click)="add()"><i class="material-icons">
          add
        </i>Add</button>
    </form>
  </nav>



<div class="shadow p-3 mb-5   bg-white rounded" style="margin-top: -25px;">

  <div class="table-responsive ">
    <table id="tablemoi" class="table table-bordered table-sm" style="width:100%">
      <thead>
        <tr style="background-color: #48466d; color: whitesmoke; ">
          <th style="text-align:center">ID</th>
          <th style="text-align:center">Mode of Interview</th>
          <th style="text-align:center">Edit</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of tablemoi">
            <td style="text-align:center">{{c.id}}</td>
          <td style="text-align:center">{{c.modeofInterview}}</td>
          <td style="text-align:center">
            <button class="btn"  mat-button color="primary" data-toggle="modal" data-target="#exampleModal" (click)="id(c)"><i
                class="material-icons">
                edit
              </i></button>
          </td>
        </tr>
      </tbody>
    </table>


  </div>
</div>




<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">modeofInterview</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #fm="ngForm" >
        <div class="modal-body">
          <b>modeofInterview </b> <input class="form-control" name="modeofInterview" type="text"
            placeholder="Enter Service name" [(ngModel)]="modelvalue1" aria-label="Search">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="editfn(fm.value)"
            data-dismiss="modal">update</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">cancel</button>

        </div>
      </form>
    </div>
  </div>
</div>


<div class="alert alert-success alert-dismissible" *ngIf="moi">
  <button type="button" class="close" (click)="moi1()" data-dismiss="alert">&times;</button>
  <strong>Success!</strong>
</div>





</div>


































<!-- <table class="table">
          <thead Class="bg-info">
            <tr>
              <th scope="col" class="text-center text-white">Mode of Interview</th>
              <th scope="col" class="text-center text-white">Edit</th>  
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let u of tabledata | filter:search3 | paginate: { itemsPerPage: 5, currentPage: p }"  >
              <td class="text-center">{{u.modeofInterview}}</td>
              <td class="text-center"> <button  type="button" class="btn btn-primary"(click)="ed(u)"  (click)="id(u.id)" data-toggle="modal" data-target="#exampleModalCenter">
                  <i class="material-icons">
                      edit
                      </i>
              </button>
              </td>
            </tr>
         
          </tbody>
        </table> -->

<!-- <pagination-controls (pageChange)="p = $event" style="float:right"></pagination-controls> -->


<!-- Modal -->
<!-- <div *ngIf="t">
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Edit Interview Mode</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #fm="ngForm" >
        <div class="modal-body">
  
             Interview  Mode <input  name="modeofInterview" class="form-control" type="text" [(ngModel)]="data1" ><br>
        </div>
        <div class="modal-footer">
         
          <button type="button" class="btn btn-primary"  (click)="update1(fm.value)" data-dismiss="modal" >Update</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" >Close</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div> -->