


<!-- <div class="col-10  mx-auto shadow-sm p-3  bg-white rounded-0">  -->
    <app-navbar></app-navbar>
  <div class="klw bg-white"   style="margin-top: 60px; margin-bottom:50px;">
   
  <div class="wrapper">
      <div class="sidebar   scrollbar  " style="margin-left:-15px;  padding-bottom: 100px;">
          
          <ul class="foo">
              <li>   <a  class=" a" routerLink="dashboard"  routerLinkActive="active"    >
               <i   class="fas fa-tachometer-alt"></i>&nbsp;Dashboard</a></li> 

               <li> <a  class="a" routerLink="myassign"  routerLinkActive="active"   >
                      <i   class="fas fa-table"></i>&nbsp;&nbsp;My Assignments</a> </li>  
              <li> <a  class="a" routerLink="addcan"  routerLinkActive="active"   >
                     <i   class="fa fa-plus-circle"></i>&nbsp;&nbsp;Add candidate</a> </li> 
             <li> <a  class="a" routerLink="canlist"  routerLinkActive="active"   >
                   <i  class="glyphicon glyphicon-tasks"></i>&nbsp;&nbsp;Candidate List</a> </li> 
          </ul>
          


          </div>


          <div class="main_content">
                  <div class="info">
                          <router-outlet></router-outlet>
                  </div>
              </div>
               
           
          </div>
          </div>
          <!-- </div> -->
         













