<nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Job Location/AddJob Location</span>
        </nav><br>
        <nav class="navbar navbar-light bg-light">
        <form class="form-inline" name="form" (ngSubmit)="f.form.valid && addroute(f.value)" #f="ngForm" >
        <div class="form-group">
        
        <input placeholder="enter" type="text" class="form-control" name="locationName" [(ngModel)]="addvalue" #addval="ngModel" [ngClass]="{ 'is-invalid': f.submitted && addval.invalid }" required />
        <div *ngIf="f.submitted && addval.invalid">
        <div *ngIf="addval.errors.required"></div>
        </div>
        </div>
        
        <div class="form-group">
        <button type="submit" class="btn btn-info " ><b>+</b>add</button>
        
        <button class="btn btn-danger " (click)="cancel()"><b></b>cancel</button>
        </div>
        
        
        </form>
        
        
        </nav>
        
    