 <div class="col-10  mx-auto shadow-sm p-3  bg-white rounded-0">  
    <app-navbar></app-navbar>
  <div class="klw bg-white"   style="margin-top: 60px; margin-bottom:50px;">
   
  <div class="wrapper">
      <div class="sidebar   scrollbar  " style="margin-left:-15px;  padding-bottom: 100px;">
          
          <ul class="foo">
              <li>   <a  class=" a" routerLink="dashboard2"  routerLinkActive="active">
               <i   class="fas fa-tachometer-alt"></i>&nbsp;Dashboard</a></li> 

               <li>   <a  class=" a" routerLink="reqtracker"  routerLinkActive="active">
                    <i class="fa fa-eye"></i>&nbsp;Requirement Tracker</a></li> 
                <li>   <a  class=" a" routerLink="cust"  routerLinkActive="active">
                        <i class="fas fa-users"></i>&nbsp;Customers</a></li> 
              <li>   <a  class=" a" routerLink="customercont"  routerLinkActive="active">
                    <i class="fas fa-user"></i>&nbsp;Customer Contact</a></li> 
             <li>   <a  class=" a" routerLink="customercont"  routerLinkActive="active">
                    <i class="fas fa-street-view"></i>&nbsp; View Submission</a></li> 
               <li>   <a  class=" a" routerLink="customercont"  routerLinkActive="active">
                    <i class="far fa-plus-square"></i>&nbsp;Assigned Requirements</a></li> 
                <li>   <a  class=" a" routerLink="customercont"  routerLinkActive="active">
                        <i class="fas fa-users-cog"></i>&nbsp;Users</a></li> 
                <li>   <a  class=" a" routerLink="customercont"  routerLinkActive="active">
                        <i class="fas fa-th"></i>&nbsp;View Incenties</a></li> 
                <li>   <a  class=" a" routerLink="customercont"  routerLinkActive="active">
                        <i class="fas fa-calculator"></i>&nbsp;Calculate Incentives</a></li> 
                <li>   <a  class=" a" routerLink="customercont"  routerLinkActive="active">
                        <i class="far fa-plus-square"></i>&nbsp;Generate Tracker</a></li> 
                 <li>   <a  class=" a" routerLink="customercont"  routerLinkActive="active">
                        <i class="fas fa-list-alt"></i>&nbsp;OnBoard List</a></li> 
=======
               <li>   <a  class=" a" routerLink="customercontacts"  routerLinkActive="active"    >
                <i   class="fas fa-tachometer-alt"></i>&nbsp;Customer Contacts</a></li> 

          </ul>
          


          </div>


          <div class="main_content">
                  <div class="info">
                          <router-outlet></router-outlet>
                  </div>
              </div>
               
           
          </div>
          </div>
          </div>
         
