<!-- 
<div  class="fixed-top col-10 mx-auto rounded-0"> 

        <nav class="navbar navbar-expand-lg navbar-light bg-white" style="border-bottom:15px solid #010a43;margin-left:-2px;" >
    <a class="navbar-brand navbar-header img-Responsive" href="#"><img src="assets/ojas-logo.png" width="120"></a>
    <h3>RPO</h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
        </ul>
 <i class="fa fa-envelope" aria-hidden="true"></i>
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        <i class="fa fa-bell" aria-hidden="true"></i>&nbsp;&nbsp;
        <form class="form-inline my-2 my-lg-0 mr-2">
            <input class="form-control mr-sm-2" type="search" placeholder="Search"> 
            <a class=" my-2 my-sm-0 ">Admin</a>
        </form>
        <form class="form-inline my-2 my-lg-0 ">
            <a class=" mr-sm-2"> User</a>
            <button class="btn btn-outline-info my-2 my-sm-0" (click)="logout()">Logout</button>
        </form>
    </div>
</nav> -->

<!-- <div class="shadow-sm p-3 mb-5  "  style="background-color: #4b4276;">Small shadow</div> -->
  <!-- <div   style="background-color: #010a43;" >  <h5 style="color: #010a43;"></h5></div> -->
<!-- </div> -->

    
<div  class="fixed-top col-10 mx-auto rounded-0" > 
 
        <nav class="navbar navbar-expand-lg navbar-light bg-white" style="border-bottom:15px solid #010a43;margin-left:-2px;" >
            <a class="navbar-brand navbar-header img-Responsive" href="#"><img src="assets/ojas-logo.png" width="120"></a>
            <h3>RPO</h3>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
         
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                </ul>
         <i class="fa fa-envelope" aria-hidden="true"></i>
                &nbsp;&nbsp;
                &nbsp;&nbsp;
                <i class="fa fa-bell" aria-hidden="true"></i>&nbsp;&nbsp;
                <form class="form-inline my-2 my-lg-0 mr-2">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search"> 
                    <a class=" my-2 my-sm-0 ">Admin</a>
                </form>
                <form class="form-inline my-2 my-lg-0 ">
                    <a class=" mr-sm-2"> User</a>
                    <button class="btn btn-outline-info my-2 my-sm-0" (click)="logout()">Logout</button>
                </form>
            </div>
            <div    >  </div>
        </nav>
         
        <!-- <div class="shadow-sm p-3 mb-5  "  style="background-color: #4b4276;">Small shadow</div> -->
          
        </div>
<!-- <div class="shadow-sm p-3 mb-5  "  style="background-color: #4b4276;">Small shadow</div> -->


