<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Users/Add Users</span>
</nav><br>
<div class="container">
    <div class="row" style="color:#0000A0">
    <div class="col">
    First Name*<br>
    <input type="text" class="form-control" placeholder="Enter FirstName">
    </div>
    <div class="col">
    Last name*<br>
    <input type="text" class="form-control" placeholder="Enter LastName">
    </div>
    <div class="col">
    Email*<br>
    <input type="text" class="form-control" placeholder="Enter Email">
    </div>
    </div><br>
    <div class="row" style="color:#0000A0">
    <div class="col-4">
    Mobile number*<br>
    <input type="text" class="form-control" placeholder="Enter ContactNumber">
    </div>
    <div class="col-4">
    Extension number*<br>
    <input type="text" class="form-control" placeholder="Enter ContactNumber">
    </div>
    <div class="col-4">
    Role*<br>
    <input type="text" class="form-control" placeholder="Entre Role">
    </div>
    </div><br>
    
    <div class="row" style="color:#0000A0">
    <div class="col-4">
    DOB<br>
    <input type="date" class="form-control" placeholder="Enter ContactNumber">
    </div>
    <div class="col-4">
    DOJ<br>
    <input type="date" class="form-control" placeholder="Enter ContactNumber">
    </div>
    <div class="col-4">
    Reporting Manager<br>
    <input type="text" class="form-control" placeholder="Entre Role">
    </div>
    </div><br>
    
    <div class="row" style="color:#0000A0">
    <div class="col-4">
    User name<br>
    <input type="text" class="form-control" placeholder="-@ojas-it.com">
    </div>
    <div class="col-4">
    Password*<br>
    <input type="text" class="form-control" placeholder="Enter password">
    </div>
    </div><br>
   
   
    
    <div class="row" style="color:#0000A0">
    <div class="col">
    Salary details
    salary*<br>
    <input type="text" class="form-control" placeholder="Basic Salary">
    </div>
    <div class="col">
    Variable Pay*<br>
    <input type="text" class="form-control" placeholder="Enter your Answer">
    </div>
    <div class="col">
    CTC<br> 
    <input type="text " class="form-control" placeholder="Total CTC">
    </div>
    </div><br>
    
    <div class="row" style="color:#0000A0">
    <div class="col">
    Target(min)*<br>
    <input type="text" class="form-control" placeholder="Min target">
    </div>
    <div class="col">
    Target(Max)*<br>
    <input type="text" class="form-control" placeholder="Max target">
    </div>
    <div class="col">
    Target(Duration)*<br>
    <select class="form-control">
    <option value="select" selected>--select--</option>
    <option value="Q1">Q1</option>
    <option value="Q2">Q2</option>
    <option value="Q3">Q3</option>
    <option value="Q4">Q4</option>
    </select>
    </div>
    </div>
    
   </div><br>
    
   <button type="button" class="btn btn-primary">Cancel</button> &nbsp;&nbsp;&nbsp;&nbsp;
   <button type="button" class="btn btn-primary">Reset</button>
   <button type="button" class="btn btn-success" style="float:right" >Register</button>
   