<div class="container-fluid">
    <app-navbar></app-navbar>
  </div>
  <main class="row">
    <div class="col-md-2 col-xs-12">
        <div class="tab">
    
            <button routerLink="dashboard"  routerLinkActive="active"  style="color: black" class="btn btn-primary">
                Dashboard</button>
              <button routerLink="users"  routerLinkActive="active" style="color: black" class="btn btn-info">Users</button>
              <button  routerLink="skills"  routerLinkActive="active" style="color: black" class="btn btn-primary">Skills</button>
              <button routerLink="moi"  routerLinkActive="active" style="color: black" class="btn btn-primary">Mode of Interview</button>
         
              <button  routerLinkActive="active" style="color: black" class="btn btn-primary" >Invoice</button>
              <button routerLink="customer"  routerLinkActive="active" style="color: black" class="btn btn-primary">Customer Type</button>
              <button routerLink="notice"  routerLinkActive="active" style="color: black" class="btn btn-primary">Notice Period</button>
              <button routerLink="qualification"  routerLinkActive="active" style="color: black" class="btn btn-primary">Qualification</button>
              <button routerLink="certificates"  routerLinkActive="active" style="color: black" class="btn btn-primary">Certificates</button>
              <button routerLink="bill"  routerLinkActive="active" style="color: black" class="btn btn-primary">Billing Modal</button>
              <button routerLink="service"  routerLinkActive="active" style="color: black" class="btn btn-primary">Services</button>
              <button routerLink="payment"  routerLinkActive="active" style="color: black" class="btn btn-primary">Payment Terms</button>
              <button   routerLink="roles" routerLinkActive="active" style="color: black" class="btn btn-primary">Roles</button>
              <button routerLink="job"  routerLinkActive="active" style="color: black" class="btn btn-primary">Job Locations</button>
          </div>
    </div>
    <div class="col-md-9  col-xs-12">
        <app-dashboard1></app-dashboard1>
    </div>
  
  </main>