<div style="padding: 15px;">
    <h3>Dashboard BDM</h3>
    <div class="container">
            <ul class="nav nav-tabs mx-auto row">
              <li class="active hov col-3"><a data-toggle="tab" href="#home">Quality Reports</a></li>
              <li class="hov col-3"><a data-toggle="tab" href="#menu1">Revenue Reports</a></li>
              <li class="hov col-3"><a data-toggle="tab" href="#menu2">Productivity Reports</a></li>
         
            </ul>
          
            <div class="tab-content">
              <div id="home" class="tab-pane fade in active">
                    <h3>Quality Chart</h3>
    <div class="row">
            <section class="col-md-6 col-xs-12">
               <h3>submission VS Rejection</h3>
                <div style="display: block;">
                        <canvas baseChart width="300" height="200" [datasets]="barChartData" [labels]="barChartLabels"
                            [options]="barChartOptions" [plugins]="barChartPlugins" [colors]="barChartColors"
                            [legend]="barChartLegend" [chartType]="barChartType">
                        </canvas>
                    </div>
            </section>
            <section class="col-md-6 col-xs-12">
                <h3>Submission Vs Closure</h3>
                <div style="display: block;">
                    <canvas baseChart width="300" height="200" [datasets]="barChartData" [labels]="barChartLabels1"
                        [options]="barChartOptions" [plugins]="barChartPlugins" [colors]="barChartColors"
                        [legend]="barChartLegend" [chartType]="barChartType">
                    </canvas>
                </div>
    
            </section>
    
        </div>
        <br>
        <div class="row">
            <section class="col-md-6 col-xs-12">
                <h3>Pie chart</h3>
                <div style="display: block;">
                    <canvas baseChart width="300" height="200" [data]="pieChartData" [labels]="pieChartLabels"
                        [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins"
                        [legend]="pieChartLegend">
                    </canvas>
                </div>
            </section>
            <section class="col-md-6 col-xs-12">
                <h3>Doughnut chart</h3>
                <div style="display: block;">
                    <canvas baseChart width="300" height="200" [data]="doughnutChartData" [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType">
                    </canvas>
                </div>
            </section>
    
        </div>

   </div>





   <div id="menu1" class="tab-pane fade">Revenue Reports
    <div class="row">
        <section class="col-md-6 col-xs-12">
            <h3>Pie chart</h3>
            <div style="display: block;">
                <canvas baseChart width="300" height="200" [data]="pieChartData" [labels]="pieChartLabels"
                    [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins"
                    [legend]="pieChartLegend">
                </canvas>
            </div>
        </section>
        <section class="col-md-6 col-xs-12">
            <h3>Doughnut chart</h3>
            <div style="display: block;">
                <canvas baseChart width="300" height="200" [data]="doughnutChartData" [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType">
                </canvas>
            </div>
        </section>

    </div>



   </div>

   <div id="menu2" class="tab-pane fade">Productivity Reports
    <div class="row">
        <section class="col-md-6 col-xs-12">
           <h3>submission VS Rejection</h3>
            <div style="display: block;">
                    <canvas baseChart width="300" height="200" [datasets]="barChartData" [labels]="barChartLabels"
                        [options]="barChartOptions" [plugins]="barChartPlugins" [colors]="barChartColors"
                        [legend]="barChartLegend" [chartType]="barChartType">
                    </canvas>
                </div>
        </section>
        <section class="col-md-6 col-xs-12">
            <h3>Submission Vs Closure</h3>
            <div style="display: block;">
                <canvas baseChart width="300" height="200" [datasets]="barChartData" [labels]="barChartLabels1"
                    [options]="barChartOptions" [plugins]="barChartPlugins" [colors]="barChartColors"
                    [legend]="barChartLegend" [chartType]="barChartType">
                </canvas>
            </div>

        </section>

    </div>
   </div></div>


</div>
</div>

